apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: 
    server: https://10.0.0.101:16443
  name: microk8s-cluster
contexts:
- context:
    cluster: microk8s-cluster
    user: admin
  name: microk8s
current-context: microk8s
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate-data: 
    client-key-data: 
